@charset "utf-8";
/* 参考) https://www.seojuku.com/blog/responsive-mediaquery.html */
/* デバイスサイズ参考) https://webdesign-abc.com/tech/resolution-list/ */

/* 全デバイス共通 */
.body {
    width: 100vw;
    height: 100vh;
}
.box div{
    border: solid 1px;
}

img {
    width: 100%;
}
h2 {
    border-bottom: double 3px;
    border-left: solid 10px;
}
/*col-sm-*(576〜767px): スマートフォン（横）*/
@media screen and (min-width: 576px) and (max-width: 767px) {

}
/*col-md-*(768〜991px): タブレット*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    
}
/*col-lg-*(992〜1199px): デスクトップ*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    
}
/*col-xl-*(1200px〜): 大きなデスクトップ*/
@media screen and (min-width: 1200px) {
    
}


