<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Grid System</title>
    </head>
    <body>
        <div class="container pt-3">
            
            <div class="row">
                <h1 class="col-sm-12 text-center text-primary bg-light p-2">Grid System</h1>        
            </div>
            
            <div class="row mt-3 box">
                <div class="col-sm-3">A(col-sm-3)</div>
                <div class="col-sm-6">B(col-sm-6)</div>
                <div class="col-sm-3">C(col-sm-3)</div>
            </div>
            
            <div class="row mt-3 box">
                <div class="offset-sm-1 col-sm-4">D(offset-sm-1 col-sm-4)</div>
                <div class="offset-sm-1 col-sm-3">E(offset-sm-1 col-sm-3)</div>
                <div class="col-sm-2">F(col-sm-2)</div>
            </div>
            
            <div class="row mt-3 box">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            G
                        </div>
                        <div class="col-sm-4">
                            H
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-6">
                            I
                        </div>
                        <div class="col-sm-8 col-6">
                            J
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 height">
                    K
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm-4 mb-2">
                    <img src="images/1.jpg" alt="1.jpg">
                </div>
                <div class="col-sm-4 mb-2">
                    <img src="images/2.jpg" alt="2.jpg">
                </div>
                <div class="col-sm-4">
                    <img src="images/3.jpg" alt="3.jpg">
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-sm-3 mb-2">
                    <img src="images/1.jpg" alt="1.jpg">
                </div>
                <div class="col-sm-6 mb-2">
                    <div class="row">
                        <div class="col-sm-6 col-6">
                            <img src="images/2.jpg" alt="2.jpg">
                        </div>
                        <div class="col-sm-6 col-6">
                            <img src="images/3.jpg" alt="3.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="images/4.jpg" alt="3.jpg">
                </div>
            </div>
            
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>